@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 14px;
    vertical-align: baseline;
    line-height: 1.6;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    letter-spacing: 1.5px;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

div#test {
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/* header */


header {
    position: fixed;
    width: 100%;
    background-color: aqua;
    /* z-index: 10; */
}

div {
    display: block;
}

.header-title {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    height: 75px;
}

.header-title .header-logo {
    display: inline-block;
}

.header-logo {
    margin-top: -6px;
}

.header-logo img {
    width: 128px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.header-subtitle {
    position: relative;
    bottom: -10px;
    display: inline-block;
}

.header-subtitle p {
    font-weight: 600;
    margin-bottom: 0;
}

.contactpc {
    background-color: #da6b64;
    color: #fff;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
    right: 0px;
    top: 16px;
    padding: 11px 40px;
}

.contactsp {
    display: none;
}

.contactsp img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.main {
    padding-top: 75px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.cover-img {
    background-image: url(images/main.jpg);
    background-position: center;
    height: 500px;
    display: table;
    width: 100%;
    background-size: cover;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.cover-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.txtl {
    font-size: 28px;
    font-weight: 600;
}

.mainlogo {
    width: 317px;
    margin-bottom: 20px;
}

.txtm {
    font-size: 20px;
    font-weight: 600;
}